@import '../../Scss/variables';
.btnPlane{
    transform: rotate(90deg);
    height: 1rem;
    width: auto;
    top: 50%;
}
// @keyframes cos {
//     from {fill: blue;}
//     to {fill: brown;}
// }
.searchBtn, .flySelect, .pass, .ticket{
    margin: 0.2rem;
    border-radius: 2ex;
    color: map-get($flyColors, "primary");
    background-color: map-get($flyColors, "background");
    border-color: map-get($flyColors, "secondary");
    &:hover{
        color: map-get($flyColors, "background");
        background-color: map-get($flyColors, "primary");
        border-color: map-get($flyColors, "details");
        &::placeholder{
            color: map-get($flyColors, "background");
        }
    }
    &::placeholder{
        color: map-get($flyColors, "primary");

    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    outline: none;
}