<p>fly-api works!</p>
<select name="origin" #origin class="origin">
  <option value="WAW">Warszawa</option>
  <option value="LUZ">Lublin</option>
  <option value="GDN">Gdańsk</option>
</select>
<!-- <i class="fa-solid fa-plane-departure"></i> -->
<select name="destination" #destination class="destination">
  <option value="JFK">Nowy Jork</option>
  <option value="CDG">Paryż</option>
  <option value="CPT">Cape Town</option>
  <option value="BER">Berlin</option>
  <option value="TRN">Turyn</option>
  <option value="LAX">Los Angeles</option>
  <option value="HND">Tokio</option>
  <option value="-">None</option>
</select>
<select name="ccy" #ccy class="ccy">
  <option value="PLN">Złotówki</option>
  <option value="EUR">Euro</option>
  <option value="USD">Dolary</option>
</select>
<div *ngFor="let ticket of apiData.data">
  Wylot z {{ticket.origin|flights}} do {{ticket.destination|flights}}<br>
  Data wylotu: {{ticket.depart_date|date}} <br>
  Liczba przesiadek {{ticket.number_of_changes}} oraz czas lotu {{ticket.duration}} <br>
  <!-- {{ticket|json}} -->
</div>
<button (click)="dataApi(origin.value, destination.value, ccy.value)">dane</button>
