<div class="conteiner">
  <div class="row">
    <div class="col-lg-10">
      <div class="row gx-1">
        <div class="col-sm-7 col-md-3 col-lg-3 ">
          <select name="origin" #origin class="form-select origin flySelect">
            <option value="-">Miejsce wylotu</option>
            <option value="WAW">Warszawa</option>
            <option value="LUZ">Lublin</option>
            <option value="GDN">Gdańsk</option>
          </select>
        </div>
        <div class="col-sm-7 col-md-3 col-lg-3 ">
          <select name="destination" #destination class="form-select destination flySelect">
            <option value="-">Miejsce docelowe</option>
            <option value="JFK">Nowy Jork</option>
            <option value="CDG">Paryż</option>
            <option value="CPT">Kapsztad</option>
            <option value="BER">Berlin</option>
            <option value="TRN">Turyn</option>
            <option value="LAX">Los Angeles</option>
            <option value="HND">Tokio</option>
          </select>
        </div>
        <div class="col-sm-7 col-md-3 col-lg-3 ">
          <select name="ccy" #ccy class="form-select ccy flySelect">
            <option value="-">Wybierz walute</option>
            <option value="PLN">Złotówki</option>
            <option value="EUR">Euro</option>
            <option value="USD">Dolary</option>
          </select>
        </div>
        <div class="col-sm-7 col-md-3 col-lg-3 ">
          <input type="number" #pass placeholder="Liczba pasażerów" class="pass form-control">
        </div>
      </div>
      <div class="row">
        <div class="md-5">
          <button type="button" class="searchBtn btn-lg"
    (click)="dataApi(origin.value, destination.value, ccy.value, pass.value)">
    <svg xmlns="http://www.w3.org/2000/svg" class="btnPlane" viewBox="0 0 20 20" fill="currentColor">
      <path
        d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
    </svg>Wyszukaj połączeń</button>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <app-weather-api></app-weather-api>
    </div>
  </div>

  

  <div class="row">
    <div class="col-md-10">
      <div class="list-group tickets">
        <a class="list-group-item col-md-10 col-sm-10 ticket" *ngFor="let ticket of apiData"
          (click)="showTicket(ticket.value, ticket.depart_date)">
          Wylot z {{ticket.origin|flights}} do {{ticket.destination|flights}}
          Data wylotu: {{ticket.depart_date|date:'longDate'}} <br>
          Liczba przesiadek {{ticket.number_of_changes}}
          Koszt przelotu: {{ticket.value|currency:ccy.value}}
        </a>
      </div>
    </div>
  </div>
