<body class="nav_body d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2  nav-linkMain">Home</a></li>
      <li><a href="#" class="nav-link px-2 ">Features</a></li>
      <li><a href="#" class="nav-link px-2 ">Cennik</a></li>
      <li><a href="#" class="nav-link px-2 ">FAQ</a></li>
      <li><a href="#" class="nav-link px-2 ">O nas</a></li>
    </ul>

    <div class="text-end">
      <button type="button" (click)="login()"class="loginBtn btn btn-outline-primary me-2 text-primary align-self-sm-end">Login</button>
    </div>
</body>