<div class="features">
<h3 class="text-primary">Wybierając naszą linię stawiasz na pełen komfort!</h3>
<div class="text">
    <p>Oferujemy usługi przyjazne dla klienta:</p>
    <ul>
        <li>Możliwość podróżowania bez biletów</li>
        <li>Korzystanie z mniejszych lotnisk umożliwiających tańszą i szybszą obsługę pasażerów</li>
        <li>Usługi gastronomiczne na życzenie pasażera za dodatkową opłatą</li>
    </ul>
    Fly High korzysta z nowych, najlepszych w swojej klasie samolotów, obsługiwanych przez najznamienniejsze firmy, takie jak Embraer 190, Boeing 737-700 oraz Airbus A321. Dzięki temu nieustannie zapewniamy podróżnym wysoki poziom usług.
    <h4>Dla każdego coś dobrego.</h4>
    <p>Nasze linie lotnicze umożliwiają na trasach długodystansowych podróż nie tylko w klasie <span class="text-primary">business</span>, lecz także <span class="text-primary">premium</span> oraz w <span class="text-primary">pierwszej</span>, która gwarantuje większy bagaż, wygodniejsze fotele i więcej dodatkowych usług. </p>
    <p>Premium to nowoczesna klasa podróży gwarantująca idealny wypoczynek nie tylko podczas lotu – a wszystko w bardzo przystępnej cenie!</p>
    Skorzystaj z wyjątkowych udogodnień podczas podróży.
</div> 
</div>
