@import "../../Scss/variables";

.modal-body, .modal-header, .modal-footer{
    background-color: map-get($flyColors, "background" );
    border: 1px solid map-get($flyColors, "details" );
    // background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.modal-header{
    justify-content: end;
    // .closeBtn{
    //     color: map-get($flyColors, "details");
    //     background-color: map-get($flyColors, "secondary");
    //     border-color: map-get($flyColors, "details");
    //     &:hover{
    //         color: map-get($flyColors, "primary");
    //         background-color: map-get($flyColors, "background");
    //         border-color: map-get($flyColors, "primary");
    //     }
    // }
}
.modal-body{
    text-align: center;
    font-size: 1.5rem;
    background-color: map-get($flyColors, "secondary" );
    height: fit-content;
}
.weather{
    border: 1px solid map-get($flyColors, "details");
    background-color: map-get($flyColors, "background");
    border-radius: 2ex;
    .weatherIco{
        font-size: 2rem;
        width: 1rem;
        color: map-get($flyColors, "primary");
        margin:0 0.2em;
    }
}
// @media screen and (max-width:576px){
//     .typeOfPlane{
//         transform: rotate(90deg) translate(0,-30px);
//         place-self: center, center;
//     }
//     .modal-body{
//         height: 400px;
//     }
// }