<!-- <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div> -->
<div class="faq">
    <ul>
        <li class="mb-3">
            <h4 class="text-primary">Czy rezerwowanie biletów online jest bezpieczne?</h4>
            <div class="text">Dokładamy wszelkich starań, by zabezpieczyć i bezpiecznie przechowywać Twoje dane osobowe, a także uniemożliwić nieautoryzowany dostęp do nich, ich wykorzystanie, zmianę bądź usunięcie. Zwracamy szczególną uwagę na bezpieczne przesyłanie danych osobowych i finansowych przez zaszyfrowane kanały z wykorzystaniem najnowszej technologii Secure Socket Layer (SSL).
                Oferujemy również usługę zabezpieczeń online dla posiadaczy kart VISA i MasterCard. Programy Verified by VISA i MasterCard Secure Code umożliwiają użytkownikom zarejestrowanie dodatkowego hasła do karty kredytowej w celu uniemożliwienia wykorzystania jej do nieautoryzowanych zakupów.
                Jeśli Twój bank uczestniczy w którymś z tych programów, podczas płatności będziesz mieć okazję, by się w którymś zarejestrować. Postępuj zgodnie z instrukcjami, by skonfigurować dodatkowe hasło. Niektóre opcje pozwalają na późniejszą rejestrację, a inne wymagają rejestracji zaraz po zakończeniu transakcji internetowej. Te programy niedługo będą obowiązkowe dla wszystkich posiadaczy kart. Jeśli masz jakieś pytania, skontaktuj się bezpośrednio z wydawcą karty.</div>
        </li>
        <li class="mb-3">
            <h4 class="text-primary">Kiedy moja rezerwacja zostanie potwierdzona?</h4>
            <div class="text">W przypadku zapłaty kartą debetową lub kredytową, strona potwierdzenia załaduje się po zakończeniu procesu rezerwacji. Kopia Twojego planu podróży zostanie do Ciebie wysłana e-mailem.Jeśli nie dotrze do Ciebie e-mail z potwierdzeniem (planem lotu), sprawdź ustawienia filtru e-maili i wszystkie skrzynki pocztowe, w których są zapisywane filtrowane e-maile. Podsumowanie lotu będzie zawierało kod potwierdzenia, daty, łączną opłatę oraz wszystkie wymagane informacje.</div>
        </li>
        <li class="mb-3">
            <h4 class="text-primary">Czy mogę rezerwować loty pośrednie?</h4>
            <div class="text">FlyHigh nie obsługuje lotów pośrednich i nie może ułatwiać transferu pasażerów ani bagażu na inne loty (niezależnie od tego, czy są one realizowane przez FlyHigh, czy innych przewoźników). Dlatego nie ponosimy odpowiedzialności za spóźnienia na kolejne loty. Pozostaw wystarczający odstęp czasowy między planowaną godziną przylotu i planowaną godziną wylotu kolejnego lotu</div>
        </li>
        <li class="mb-3">
            <h4 class="text-primary">Jak mogę wybrać miejsce?</h4>
            <div class="text">Podczas rezerwacji możesz wybrać miejsce za opłatą. Jeśli nie wybierzesz miejsca, podczas odprawy zostanie Ci automatycznie przydzielone losowe miejsce.
                Wybrane numery miejsc i ich ceny są wyświetlane w polu podsumowania płatności.
                Możesz też wybrać miejsce online po dokonaniu rezerwacji i odprawy — do 3 godzin przed wylotem.</div>
        </li>
    </ul>





.


</div>