.background{
    background-image: url('../assets/World\ Map.svg');
    height: auto;
    min-height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    
}
*{
    @media screen and (max-width: 576px) {
        overflow: hidden;
    }
}
//Main kolorki
// #294869
// #A3C6EC
// #5A9FE8
// #485869
// #4C86C2