
<div class="about">
<h2 class="text"><span class="text-primary">FlyHigh</span> to linia lotnicza na każdą kieszeń. </h2>
<p class="text-muted ital">Innowacje na każdym etapie podróży.</p>

<div class="text">
    <p>Naszym celem jest zoptymalizowanie kosztów podróży, aby były przystępne dla obywateli całego świata.</p>
    <p>W FlyHigh korzystamy z najnowszych technologii, które pozwalają na zapewnienie najwyższej jakości usługi w korzystnej cenie. </p>
    <h3>Wierzymy, że wszystko zależy od ludzi.</h3>
    <p>Nasz zespół — zarówno pracownicy na pokładach samolotów, jak i personel naziemny — ma tę samą pasję: <b><br> Pasję do transportu lotniczego.</b> </p>
    <p>
    Pracownicy FlyHigh kierują się zawsze przestrzeganiem wysokiego poziomu etyki opartego na doskonałej współpracy zespołu.
    Nasze linie lotnicze zatrudniają personel z całej Europy.
    </p>
    <p>Dzięki ogromnemu zaangażowaniu i kwalifikacjom wielonarodowego zespołu kierowniczego, silne przywództwo i motywacja decydują o sukcesie metod prowadzenia działalności naszej firmy.</p>
</div>
<h1 class="text-end text-primary text-bold m-3">Fly High!!!</h1>
</div>